body{
	background-image: url("file:///Users/afefilova/Desktop/UCBX/hw_01/assets/images/Grey-Texture-Background.jpg");: 
	width: auto;
	margin: 0;
	padding: 0;
}
.heading{
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	border-bottom: 2px solid grey;
	background-color: #eee;
	float:left;
}

#name{
	color: white;
	margin-left: 15%;
	margin-top:0;
	margin-bottom: 0;
	background: #0a9;
	padding: 10px; 
	float: left;
}
nav{
	float: right;
	margin-right: 20%;
	padding-top: 20px;
/*	padding: auto;
*/}
.nav_bar{
	float: left;
}
/*.clearfix:: {
	overflow: auto;
	content:" ";
	display: block;
	clear: both;
}*/
section{
	float: left;
	background-color: #eee;
	width: 50%;
	margin: 20px 20px 20px 15%;
	border: 1px solid grey;
	padding: 0 10px 10px 10px;

}
#about{
	color: #0a9;
}
























